/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
table {
	border: solid black 1px;
	text-align: left;
}
th {
		text-align: center;
}
td {
	border-top: solid gray 1px;
	border-bottom: solid gray 1px;
	padding: 0em .5em 0em .5em;
}
.strong {
	font-weight: bold;
	text-align: center;
}
.uri {
	font-variant: small-caps;
}
